.no-webp .inicio {
    background-image: url('../../../public/header.jpg');
}
.webp .inicio {
    background-image: url('../../../public/header.webp');
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio {
        background-position: center center;
        background-size: cover;


        @include tablet {
            min-height: 60rem;
        }

        .contenedor-header {
            @include tablet {
                min-height: 90rem;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 35rem;


    h1 {
        color: $blanco;
        font-weight: bold;
    }

}